html {
	background: gainsboro;
}

body {
	margin: 0;
}

section {
	margin: auto;
	width: 70%;
    padding: 5px;
    background-color: dimgray;
    border-radius: 4px;
    border: 2px solid black;
}

section > form {
	margin: 0 100px 50px 100px;
}


/* form slider */
#formSlider {
	float: right;
    -webkit-appearance: none;
    width: 10%;
    height: 18px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
}

#formSlider:hover {
    opacity: 1;
}

#formSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 18px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 4px;
}

#formSlider::-moz-range-thumb {
    width: 50%;
    height: 18px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 4px;
}

#formSliderContent {
	float: right;
	margin: 18px -63px 0 0;
}

#formSliderContent sup:nth-child(even) {
	margin: 0 0 0 20px;
}

/* Slider For Weather */
#weatherSliderBlock {
	max-width: 100%;
	position: relative;
	margin: auto;
	border: 1px solid black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
